<!DOCTYPE html>
<html>

    <head>
        <link rel="icon" href="/Images/weather.png">
        <title>About</title>
        <link rel ="stylesheet" href="/Css/Css.css">
        
    </head>

    <body>
        <header>
            {{>header}}
           
            <img id="img_me" src="/Images/PhotoUtilisateur.jpg">
        </header>
        <footer>
              {{>footer}}
         
        </footer>
    </body>

</html>