<!DOCTYPE html>
<html>

    <head>
        <title>Error 404</title>
        <link rel="icon" href="/Images/weather.png">
        <link rel ="stylesheet" href="/Css/Css.css">
        
    </head>

    <body>
        <header>
            {{>header}}
            <p>{{text}}</p>
        </header>
        <footer>
              {{>footer}}
         
        </footer>
    </body>

</html>