<!DOCTYPE html>
<html>

    <head>
        <title>Help</title>
        <link rel="icon" href="/Images/weather.png">
        <link rel ="stylesheet" href="/Css/Css.css">
    </head>

    <body>
        <header>
            {{>header}}

            
            <p>{{help}}</p>
        </header>
        <footer>
              {{>footer}}

        </footer>
    </body>

</html>