<!DOCTYPE html>
<html>

    <head>
        <link rel="icon" href="/Images/weather.png">
        <title>Weather</title>
       <link rel ="stylesheet" href="/Css/Css.css">
    
    </head>

    <body>
        <header>
            {{>header}}
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
           
        </header>
        <footer>
            {{>footer}}
        <script src="/js/script.js"></script>
        </footer>
    </body>

</html>